pkgbase = lib32-ffmpeg
	pkgdesc = A complete solution to record, convert and stream audio and video (32 bit)
	pkgver = 5.0
	pkgrel = 1
	epoch = 1
	url = http://ffmpeg.org/
	arch = x86_64
	license = GPL3
	makedepends = amf-headers
	makedepends = clang
	makedepends = ffnvcodec-headers
	makedepends = git
	makedepends = lib32-ladspa
	makedepends = yasm
	makedepends = x265
	makedepends = lib32-x265
	depends = ffmpeg>=5.0
	depends = lib32-alsa-lib
	depends = lib32-aom
	depends = lib32-bzip2
	depends = lib32-fontconfig
	depends = lib32-fribidi
	depends = lib32-glibc
	depends = lib32-gmp
	depends = lib32-gnutls
	depends = lib32-gsm
	depends = lib32-jack
	depends = lib32-lame
	depends = lib32-libass
	depends = lib32-libavc1394
	depends = lib32-libbluray
	depends = lib32-libdav1d
	depends = lib32-libdrm
	depends = lib32-freetype2
	depends = lib32-libiec61883
	depends = lib32-libmodplug
	depends = lib32-libpulse
	depends = lib32-libraw1394
	depends = lib32-librsvg
	depends = lib32-libtheora
	depends = lib32-libva
	depends = lib32-libvdpau
	depends = lib32-libvorbis
	depends = lib32-libvpx
	depends = lib32-libwebp
	depends = lib32-libx11
	depends = lib32-x264>=3:0.161
	depends = lib32-x265>=3.5
	depends = lib32-libxcb
	depends = lib32-libxext
	depends = lib32-libxml2
	depends = lib32-libxv
	depends = lib32-xvidcore
	depends = lib32-opencore-amr
	depends = lib32-openjpeg2
	depends = lib32-opus
	depends = lib32-sdl2
	depends = lib32-speex
	depends = lib32-srt
	depends = lib32-v4l-utils
	depends = lib32-vmaf
	depends = lib32-xz
	depends = lib32-zlib
	optdepends = lib32-ladspa: LADSPA filters
	optdepends = lib32-nvidia-utils: Nvidia NVDEC/NVENC support
	source = git+https://git.ffmpeg.org/ffmpeg.git#tag=09c358362008e2d04cec8239526c6827543da4cf
	source = ffmpeg-vmaf2.x.patch
	source = add-av_stream_get_first_dts-for-chromium.patch
	validpgpkeys = FCF986EA15E6E293A5644F10B4322F04D67658D8
	sha512sums = SKIP
	sha512sums = f775e35465f6487b50e1e5f36c70946ee03db448bc2970c5b4b697565fa380c4a61d8a7bed0cbb89a54b1118a2f097cf4a27290d632575c524876beeff448f5a
	sha512sums = bb23ce619dc98f341ded7e269dd703074d6fb5aa28bd71ba1f62bc4c02e471bf57d99aa47d57993596ffe7aa65fbb410410082705dd203839bb0992975f1fede

pkgname = lib32-ffmpeg
	pkgdesc = Complete solution to record, convert and stream audio and video (32 bit)
	depends = lib32-libffmpeg

pkgname = lib32-libffmpeg
	pkgdesc = Complete solution to record, convert and stream audio and video - library (32 bit)
	provides = libavcodec.so
	provides = libavdevice.so
	provides = libavfilter.so
	provides = libavformat.so
	provides = libavutil.so
	provides = libpostproc.so
	provides = libswresample.so
	provides = libswscale.so
	provides = lib32-ffmpeg
